body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("images/thanos-pal-vb-hPUzfpBo-unsplash.jpg");
    background-position: center ;
    background-repeat:repeat;
    background-size:cover;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo-wrapper {
    align-items: center;

}

#menu ul li div  a {
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25px;
   
}

#menu-bottom li div a {
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25px;
   
}


.parent1 {
    width: 500px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.parent2 {
    width: 500px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#about {
    width: 100%;
    height: 100%;
    background-image: url("images/aboutme1.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;  
    letter-spacing: 3px;  
    transition: transform .5s;
}

.parent1:hover #about:before, .parent1:focus #about:before {
    display: block;
}
#about:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.parent1:hover #about, .parent1:focus #about {
    transform: scale(1.2); 
}


#skill {
    width: 100%;
    height: 100%;
    background-image: url("images/skills1.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center; 
    letter-spacing: 3px;   
    transition: transform .5s;

}

.parent2:hover #skill:before, .parent2:focus #skill:before {
    display: block;
}
#skill:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.parent2:hover #skill, .parent2:focus #skill {
    transform: scale(1.2); 
}

#service {
    width: 100%;
    height: 100%;
    background-image: url("images/services.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;    
    letter-spacing: 3px;
    transition: transform .5s;

}

.parent2:hover #service:before, .parent2:focus #service:before {
    display: block;
}

#service:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.parent2:hover #service, .parent2:focus #service {
    transform: scale(1.2); 
}

#contactme {
    width: 100%;
    height: 100%;
    background-image: url("images/posta.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;    
    letter-spacing: 3px;
    transition: transform .5s;

}

.parent1:hover #contactme:before, .parent1:focus #contactme:before {
    display: block;
}
#contactme:before {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.parent1:hover #contactme, .parent1:focus #contactme {
    transform: scale(1.2); 
}

.page {
    width: 100vw;
    height: 100vh;
    margin:0px;
    padding: 0px;
    background-image: url("images/wall.jpeg");
    border-radius: 5%;
}

#button {
    background-color: rgb(184, 63, 63);
    color:blue;
    margin: 20px;
    padding: 10px;
    border-radius: 10%  0 10% 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(177, 122, 59);
}
.image-wrapper  img{
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 5%;
    
}

#description {
    margin-top: 20px;
    margin-left: 80px;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
}

#myskills {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 0;
}

#myskills i {
    display: flex;
    justify-content: center;
    color:blue;
 }

 #myskills h2, p {
     color:black
 }

.skill-logo {
    margin: 15px;
    padding: 15px;
}

#services-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.websites {
    margin-bottom: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.logo {
    display: flex;
    justify-content: center;
}

#contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-side {
    display: flex;
    justify-content: center;
}
#mc_embed_signup {
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 20px;
}

#mc_embed_signup_scroll h2 {
    padding: 10px;
} 

.mc-field-group {
    padding: 10px;
}

#right-side  {
    margin: 50px;  
    display: flex;
    flex-direction: row;

}

#right-side a {
    text-decoration: none;
}

#right-side i {
    margin: 20px;
    color:black;
}

#map iframe {
    margin-top: 30px;
    width: 100vw;
    height: 200px;
    opacity: 0.5;
    transition: all .5s;
}

#map iframe:hover{
    opacity: 1;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
